@{
    ViewData["Title"] = "Home Page";
}

<div class="borderBlack">
    <div class="text-center">
        <h2>Welcome to the app</h2>
    </div>
    <div class="group">
        <h5>
            I'm Alexey Barsukov. This app is "Test assignment" for invite to an interview.<br /><br />
        </h5>
    </div>

    <h6>
        The assignment was realized based on the requirements for completing the task.<br />
        However, some improvements have been made that should make the UI more usability.
    </h6>

    <div class="group">
        <h6>
            Description:<br /><br /><br />
            * The app allows you to perform CRUD operations for "Companies" and its "Employees".<br /><br />
        </h6>
    </div>
</div>