@{
    ViewData["Title"] = "Home Page";
}

<div class="borderBlack">
    <div class="text-center">
        <h2>Welcome</h2>
    </div>
    <div class="group">
        <h5>
            My name is Barsukov Alexey. This application is "Test assignment".<br />To receive a call for an interview
        </h5>
    </div>
    

    <h6>
        Working on the application, I took into account all the recommendations of the task.<br />But I also added a few changes that will make this project better.
    </h6>

    <div class="group">
        <h6>
            Description:<br /><br /><br />
            * The application allows you to perform CRUD operations for "Companies" and its "Employees".<br /><br />
            * The style of the site is made in accordance with the requirements<br /><br />

        </h6>
    </div>
</div>