@{
    ViewData["Title"] = "Home Page";
}

<div class="borderBlack">
    <div class="text-center">
        <h2>Welcome to the app</h2>
    </div>
    <div class="group">
        <h5>
            I'm Alexey Barsukov. This app is "Test assignment" for invite to an interview.<br /><br />
        </h5>
    </div>
    

    <h6>
        Working on the application, I took into account all the recommendations of the task.<br />
        But I also added a few changes that will make this project better.
    </h6>

    <div class="group">
        <h6>
            Description:<br /><br /><br />
            * The application allows you to perform CRUD operations for "Companies" and its "Employees".<br /><br />
            * The style of the site is made in accordance with the requirements<br /><br />

        </h6>
    </div>
</div>