@model CompanyManager.Models.Company


<form method="post" asp-action="Create">
    <div style="border:4px solid #000000">
        <div asp-validation-summary="ModelOnly"></div>
        <div style="margin:25px">

            <h5>Create new Company</h5>
            <h5>Info</h5>
            <div class="row">
                <div class="col-2">
                    <p>Name:</p>
                </div>
                <div class="colForm">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <p>Address:</p>
                </div>
                <div class="colForm">
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <p>City:</p>
                </div>
                <div class="colForm">
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <p>State:</p>
                </div>
                <div class="colForm">
                    <input asp-for="State" class="form-control" />
                    <span asp-validation-for="State"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <p>Phone:</p>
                </div>
                <div class="colForm">
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone"></span>
                </div>
            </div>

            <div class="flex">
                <input type="submit" class="btn btn-primary" value="Create" />
                &nbsp;
                <a asp-action="Index" class="btn btn-dark"><i class="fa-solid fa-right-from-bracket"></i> &nbsp;Back</a>
            </div>
        </div>


    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}