@model IEnumerable<CompanyManager.Models.Company>

<div style="border:4px solid #000000">
    <div style="margin:25px">
        <div class="row">
            <div class="col">
                <h5>Companies</h5>
            </div>
            <div class="colForm" style="text-align:end">
                <a asp-controller="Companies" asp-action="Create" class="btn btn-outline-dark"><i class="fa-solid fa-plus fa-lg"></i></a> &nbsp;
            </div>
        </div>
        

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Company Name
                    </th>
                    <th>
                        City
                    </th>
                    <th>
                        State
                    </th>
                    <th>
                        Phone
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td width="20%">@item.City</td>
                        <td width="20%">@item.State</td>
                        <td width="20%">@item.Phone</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
